DISCORD_TOKEN=your_discord_bot_token_here
TARGET_LANG=pl
IGNORE_LANGS=en,pl
DELETE_ORIGINAL_MESSAGE=true
PHOTO_UPLOAD_LIMIT_MB=8
VIDEO_LINK_MODE=player
# Optional DeepL:
# DEEPL_API_KEY=your_deepl_key
