DISCORD_TOKEN=
TARGET_LANG=pl
IGNORE_LANGS=en,pl
DELETE_ORIGINAL_MESSAGE=true
VIDEO_LINK_MODE=player
PHOTO_UPLOAD_LIMIT_MB=8
DEEPL_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
TRANSLATOR_PROVIDER=auto
SHOW_LANGUAGE_BADGE=false
SHOW_FOOTER=false
SHOW_STATS=true
SHOW_SUMMARY=false

VIDEO_LINK_STYLE=labeled
